body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  background-color: #222;
  color: white;

  font-family: Arial, sans-serif;

  position: relative;
}
#tetris,
#hold-div,
#next-div,
#controls {
  position: absolute;
}

h3 {
  text-align: center;
}

canvas {
  border: 2px solid white;
}
