body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
}
#tetris,
#hold-div,
#next-div,
#controls,
#game-info,
#title-screen,
#pause-screen,
#game-over-screen {
  position: absolute;
}
h1,
h2,
h3 {
  text-align: center;
}
ul {
  list-style-type: none;
}
#score,
#level,
#lines {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#play-button,
#resume-button,
#quit-button,
#game-over,
#play-again-button {
  font-size: 60px;
}
canvas {
  border: 2px solid white;
}
